---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-4xl text-center">Esta página no existe...</h1>
        <img src="https://i.gifer.com/fxkD.gif" alt="">
        <p class="text-white text-5xl text-center">404 error</p>
    </div>
</Layout>

